@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

html,
body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #2e2f33;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

nav {
  background-color: #fff;
}

nav ul a {
  color: #2ebd59;
}

nav ul a:hover,
nav ul li.active {
  color: #1ed760;
}

nav a.button-collapse i {
  color: #2ebd59;
}

nav .brand-logo img {
  margin-top: 12px;
  margin-right: 10px;
}

.card-panel.search-panel {
  margin-top: 10%;
  padding: 20px 30px 0 20px;
  transition: all 0.4s;
  transition-timing-function: ease-out;
}

button.btn {
  margin-top: 12px;
  background-color: #2ebd59;
}

.btn:hover {
  background-color: #1ed760;
}

.input-field input[type=text]:focus+label {
  color: #2ebd59;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #2ebd59;
  box-shadow: 0 1px 0 0 #2ebd59;
}

.input-field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.card .card-image img {
  border-radius: 50%;
  padding: 10px;
}

.hidden {
  display: none;
}

span {
  font-weight: 400;
  color: #2ebd59;
}

footer.page-footer {
  background-color: #828282;
}

@media only screen and (max-width: 600px){
  nav .brand-logo img {
    margin-top: 10px;
}